@model Villa
@{
    ViewData["Title"] = "Bewerk huisje";
}

<div class="w-100 card border-0 p-4">

    <div class="card-header bg-success bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Verwijder huisje @Model.Name</h2>
            </div>

        </div>
    </div>
    <div class="card-body border p-4">
        <form method="post" class="row">
            <input asp-for="@Model.Id" hidden />
            
            <div class="col-10">
            <div class="p-3">
                <div asp-validation-summary="ModelOnly"></div> <!--kan ook all zijn of none -->
                <div class="form-floating py-1 col-12">

                    <input asp-for="@Model.Name" disabled class="form-control border shadow" />
                    <label asp-for="@Model.Name" class="ms-2">Naam</label>
     
                </div>

                <div class="form-floating py-1 col-12">

                    <input asp-for="@Model.Description" disabled class="form-control border shadow" />
                    <label asp-for="@Model.Description" class="ms-2"></label>

                </div>
                <div class="form-floating py-1 col-12">

                    <input asp-for="@Model.Price" disabled class="form-control border shadow" />
                    <label asp-for="@Model.Price" class="ms-2">Prijs</label>
                 
                </div>
                <div class="form-floating py-1 col-12">

                    <input asp-for="@Model.Sqft" disabled class="form-control border shadow" />
                    <label asp-for="@Model.Sqft" class="ms-2">Grootte</label>
                
                </div>
                <div class="form-floating py-1 col-12">

                    <input asp-for="@Model.Occupancy" disabled class="form-control border shadow" />
                    <label asp-for="@Model.Occupancy" class="ms-2">Hoeveel personen</label>
                   
                </div>
                <div class="form-floating py-1 col-12">

                    <input asp-for="@Model.ImagePath" disabled class="form-control border shadow" />
                    <label asp-for="@Model.ImagePath" class="ms-2">Locatie foto</label>
               
                </div>

                <div class="row pt-2">
                    <div class="col-6 col-md-3">

                        <button type="submit" class="btn btn-danger w-100">
                            <i class="bi bi-trash-fill"></i> Verwijderen
                        </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Villa" asp-action="Index" class="btn btn-secondary w-100">
                            <i class="bi bi-x-circle"></i> Annuleren
                        </a>
                    </div>
                </div>

            </div>
            </div>
            <div class="col-2">
                <img src="@Model.ImagePath" width="100%"
                     style="border-radius:5px; border: 1px solid #bbb9b9" />
            </div>
        </form>

    </div>
</div>

@section Scripts {

    @{

        <partial name="_ValidationScriptsPartial" />
    }
}
